.app-grid-list-wrapper:after{
  display: table;
  clear: both;
  width: 100%;
}

.app-grid-list-wrapper__element {
  display: flex;
  justify-content: center;
  float: left;
  width: 25%;
}

@media screen and (max-width: 600px){
  app-grid-list-wrapper__element {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) and (min-width: 600px){
  app-grid-list-wrapper__element {
    width: 50%;
  }
}
