$cardImageSize: 190px;
$cardImageSize--hover: $cardImageSize + 30px;
$cardSize: $cardImageSize--hover + 20px;

.card {
  width: $cardSize;
  height: $cardSize;
  display: flex;
  position: relative;
}

.card:hover {
  cursor: pointer;
}

.card__image {
  display: inline-block;
  width: $cardImageSize;
  height: $cardImageSize;
  opacity: .95;
  margin: auto;
  border-radius: 50%;
  transition: all .2s;
  z-index: 100;
}

//.card__image:hover {
//  cursor: pointer;
//  width: $cardImageSize--hover;
//  height: $cardImageSize--hover;
//  border-radius: 15px;
//}

.card__information {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $cardSize;
  height: $cardSize;
  z-index: 101;
}

.card__information__scope {
  display: flex;
  justify-content: space-between;
}

h4 {
  margin: 5px;
  padding: 5px;
  background-color: black;
  color: whitesmoke;
  border-radius: 5px;
}
