<div class="meeting_card">
  <section class="meeting_information">
    <div class="player_amount">
      <span class="player_amount_already">{{meeting.players.length}}</span>/<span class="player_amount_maximum">{{meeting.playersAmount.maximum}}</span>
    </div>
    <div class="meeting_date">{{meeting.endDate}}</div>
  </section>
  <img class="meeting_image" src="https://img.poki.com/cdn-cgi/image/quality=78,width=600,height=600,fit=cover,f=auto/26c6e4e18eeaa62590fccd44ea7812f8.png" alt="">
</div>
