.card_plus {
  margin-top: 80px;
  display: flex;
  min-width: 150px;
  height: 150px;
  border: none;
}

.card_plus > button{
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 20px;
  font-size: 50pt;
  text-align: center;
}
